<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/styles.min.css">
  <title>Aéreo</title>
</head>
<body>
  <header class="header-dark">
    <a href="../index.html" class="icon_container">
      <img src="../assets/images/favicon.svg" alt="Logo Infotera">
    </a>

    <div class="responsive_title">
      <p>Confirmação</p>
    </div>

    <div class="header_motor_search">
      <div class="input_field">
        <input type="text" value="hotel + aéreo">
      </div>
      <div class="input_field ">
        <img src="../assets/images/calendar.svg" alt="">
        <input class="custom-width-input" type="text" value="15 Nov - 25 nov">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>
      <div class="input_field ">
        <img src="../assets/images/users-black.svg" alt="">
        <input class="custom-width-input" type="text" value="3 Hósp., 1 Quarto">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>
      <div class="input_field ">
        <img src="../assets/images/Plane.svg" alt="">
        <input class="custom-width-input" type="text" value="POA - GRU">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>

      <button>
        <img src="../assets/images/search.svg" alt="">
      </button>
    </div>

    <div class="navgation_container">
      <nav>
        <ul>
          <li>
            <a href="#">
              <img src="../assets/images/user-login.svg" alt="">
              <span>FAZER LOGIN</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/cart.svg" alt="">
              <span>PEDIDO</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  
  <div class="container">
    <div class="title_container">
      <h1>Resultados da sua pesquisa</h1>
    </div>
    <div class="order_filters-container">
      <div class="p-order">
        <p>Ordenar por:</p>
      </div>
      
      <div class="order_filter_item-container" style="margin-bottom: 30px;">
        <div class="order_filter_item"><p>Mais Barato</p></div>
        <div class="order_filter_item"><p>Mais Caros</p></div>
        <div class="order_filter_item"><p>Melhor avaliado</p></div>
      </div>
    </div>

    <div class="container_content">
      <div class="flights_item_container">
        <div class="item">
          <div class="item_header">
            <div class="header_label_container">
              <img src="../assets/images/Flying.svg" alt="">
              <p>IDA</p>
            </div>
            
            <div class="header_label_container">
              <p>Ter, <b>23 Nov 2022</b></p>
            </div>
          </div>
  
          <div class="flight_details_container">
            <div>
              <p>
                <span>14:40</span>
                POA
              </p>
            </div>
            <div class="stops">
              <p>
                <span class="text_gray">1 parada</span>
              </p>
              <div class="circle_container">
                <div class="line"></div>
              </div>
            </div>
            <div>
              <p>
                <span>04:40</span>
                LIS
              </p>
            </div>
            <div>
              <p>
                <span>Duração:</span>
                <span>08h 30min</span>
              </p>
            </div>
  
            <div class="airline_operation">
              <img src="../assets/images/latam.svg" alt="">
              <p>Latam</p>
            </div>
            
            <div>
              <img src="../assets/images/office-bag.svg" alt="">
              <img src="../assets/images/office-bag.svg" alt="">
              <img src="../assets/images/office-bag.svg" alt="">
            </div>
    
            <div>
              <img src="../assets/images/down-arrow-1.svg" alt="">
            </div>
          </div>

          <div class="body_item_container">
            <div class="item_body">
              <p>Ter, 23 Nov 2022</p>
              <p><b>14:40</b></p>
              <p>POA</p>
              <p>Porto Alegre</p>
              <p>Aeroporto Salgado Filho</p>
            </div>

            <div class="stops">
              <div class="circle_container">
                <div class="line"></div>
              </div>
              <p>
                <span class="text_gray">Duração: 02h</span>
              </p>
            </div>

            <div class="item_body">
              <p>Ter, 23 Nov 2022</p>
              <p><b>14:40</b></p>
              <p>POA</p>
              <p>Porto Alegre</p>
              <p>Aeroporto Salgado Filho</p>
            </div>

            <div class="item_body">
              <p>Cia Aérea: <img style="height: 20px; vertical-align: middle;" src="../assets/images/latam.svg" alt=""> </p>
              <p>Bagagens: <img src="../assets/images/office-bag.svg" alt=""></p>
              <p>Nº do Vôo: <b>3137</b></p>
              <p>Classe: <b>Econômica</b></p>
            </div>
            
            <div class="item_body">
              <img style="height: 20px; vertical-align: middle;" src="../assets/images/trip.svg" alt="">
              <p>Espera de:</p>
              <p><b>4h32</b></p>
              <p>São Paulo/SP</p>
              <p>Aeroporto Internacional de Guarulhos</p>
            </div>
            
          </div>
        </div>
        <div class="item">
          <div class="item_header">
            <div class="header_label_container">
              <img src="../assets/images/Flying.svg" alt="">
              <p>VOLTA</p>
            </div>
            
            <div class="header_label_container">
              <p>Sáb, <b>26 Nov 2022</b></p>
            </div>
          </div>
  
          <div class="flight_details_container">
            <div>
              <p>
                <span>14:40</span>
                POA
              </p>
            </div>
            <div class="stops">
              <p>
                <span class="text_gray">1 parada</span>
              </p>
              <div class="circle_container">
                <div class="line"></div>
              </div>
            </div>
            <div>
              <p>
                <span>04:40</span>
                LIS
              </p>
            </div>
            <div>
              <p>
                <span>Duração:</span>
                <span>08h 30min</span>
              </p>
            </div>
  
            <div class="airline_operation">
              <img src="../assets/images/latam.svg" alt="">
              <p>Latam</p>
            </div>
            
            <div>
              <img src="../assets/images/office-bag.svg" alt="">
              <img src="../assets/images/office-bag.svg" alt="">
              <img src="../assets/images/office-bag.svg" alt="">
            </div>
    
            <div>
              <img src="../assets/images/down-arrow-1.svg" alt="">
            </div>
          </div>
        </div>
        <div class="flight_footer_container">
          <div>
            <p>
              R$ 1980,00
              <span>À vista</span>
            </p>
          </div>
    
          <div>
            <button class="btn btn-blue">
              Comprar 
              <img src="../assets/images/arrow-wht.svg" alt="">
            </button>
          </div>
        </div>
      </div>

      <!-- aqui -->
      <h1>Filtros</h1>
    </div>
  </body>
  </html>
<!--
  <div class="filters-container">
    <div class="filter_title-container">
      <h3>Filtros</h3>
      <button class="btn btn-transparent btn-action btn-border-bottom">Limpar Filtros</button>
    </div>

    <div class="filters-content">
      <h4>faixa de preço</h4>
      <div class="graphic">
        <img src="../assets/images/graphic.jpeg" alt="">
      </div>
      <div class="price_minmax-container">
        <div class="minmax_card">
          <h4>Preço Mínimo</h4>
          <p>R$ 800</p>
        </div>

        <div class="minmax_card">
          <h4>Preço Máximo</h4>
          <p>R$ 1.980</p>
        </div>
      </div>

      <div class="filter_rating-container">
        <h4>Avaliação</h4>
        <div class="btns-container">
          <button class="btn btn-filter-sidebar selected">1</button>
          <button class="btn btn-filter-sidebar">2</button>
          <button class="btn btn-filter-sidebar">3</button>
          <button class="btn btn-filter-sidebar">4</button>
          <button class="btn btn-filter-sidebar">5</button>
        </div>
      </div>

      <div class="filter_rooms-container">
        <h4>Número de quartos</h4>
        <div class="btns-container">
          <button class="btn btn-filter-sidebar selected">1+</button>
          <button class="btn btn-filter-sidebar">2+</button>
          <button class="btn btn-filter-sidebar">3+</button>
          <button class="btn btn-filter-sidebar">4+</button>
          <button class="btn btn-filter-sidebar">5+</button>
        </div>
      </div>

      <div class="filter_flight_company-container">
        <h4>CIA Aérea</h4>

        <div class="filter_flight_company-content">
          <div class="filter_flight_company-item">
            <img src="../assets/images/two-arrows.svg" alt="">
            <p>Aerolineas Argentinas</p>
            <input type="checkbox">
          </div>

          <div class="filter_flight_company-item">
            <img src="../assets/images/two-arrows.svg" alt="">
            <p>Aerolineas Argentinas</p>
            <input type="checkbox">
          </div>

          <div class="filter_flight_company-item">
            <img src="../assets/images/two-arrows.svg" alt="">
            <p>Aerolineas Argentinas</p>
            <input type="checkbox">
          </div>

          <div class="filter_flight_company-item">
            <img src="../assets/images/two-arrows.svg" alt="">
            <p>Aerolineas Argentinas</p>
            <input type="checkbox">
          </div>
        </div>
      </div>
    </div>
  </div> 
-->