<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>
  
  <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>
<body>
  <header class="header-dark">
    <a href="../index.html" class="icon_container">
      <img src="../assets/images/favicon.svg" alt="Logo Infotera">
    </a>

    <div class="header_motor_search">
      <div class="input_field">
        <input type="text" value="hotel + aéreo">
      </div>
      <div class="input_field ">
        <img src="../assets/images/calendar.svg" alt="">
        <input class="custom-width-input" type="text" value="15 Nov - 25 nov">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>
      <div class="input_field ">
        <img src="../assets/images/users-black.svg" alt="">
        <input class="custom-width-input" type="text" value="3 Hósp., 1 Quarto">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>
      <div class="input_field ">
        <img src="../assets/images/Plane.svg" alt="">
        <input class="custom-width-input" type="text" value="POA - GRU">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>

      <button><img src="../assets/images/search.svg" alt=""></button>
    </div>

    <div class="navgation_container">
      <nav>
        <ul>
          <li>
            <a href="#">
              <img src="../assets/images/users.svg" alt="">
              FAZER LOGIN
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/cart.svg" alt="">
              PEDIDO
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <div class="checkout-page">
      <h1>Meu Pedido</h1>
      
      <div class="checkout-container">
        <div class="booking_list">
          <div class="booking_item">
            <div class="">
              <div class="booking_item-header">
                <div class="booking_item-label">
                  <img src="../assets/images/Building.svg" alt="">
                  <p>hospedagem</p>
                </div>
                <button class="btn btn-delete">
                  <img src="../assets/images/Trash.svg" alt="">
                  Excluir
                </button>
              </div>
      
              <div class="booking_item-content">
                <div class="booking_item-image">
                  <img src="../assets/images/312846914-p-500.jpg" alt="">
                </div>
      
                <div class="booking_item-details">
                  <h3>Costa do Sauípe Premium Master - Standard</h3>
                  <div class="booking_item_detail">
                    <img src="../assets/images/calendar_gray.svg" alt="">
                    <p>23 Nov - 26 Nov</p>
                  </div>
      
                  <div class="booking_item_detail">
                    <img src="../assets/images/users.svg" alt="">
                    <p>2 Hóspedes, 1 Quarto</p>
                  </div>
      
                  <div class="booking_item_price-container">
                    <p>Preço <b>total</b></p>
                    <p class="price_text">R$ <b>1.980,89</b></p>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="">
              <div class="booking_item-content">
                <div class="booking_item-image">
                  <img src="../assets/images/312846914-p-500.jpg" alt="">
                </div>
      
                <div class="booking_item-details">
                  <h3>Costa do Sauípe Premium Master - Standard</h3>
                  <div class="booking_item_detail">
                    <img src="../assets/images/calendar_gray.svg" alt="">
                    <p>23 Nov - 26 Nov</p>
                  </div>
      
                  <div class="booking_item_detail">
                    <img src="../assets/images/users.svg" alt="">
                    <p>2 Hóspedes, 1 Quarto</p>
                  </div>
      
                  <div class="booking_item_price-container">
                    <p>Preço <b>total</b></p>
                    <p class="price_text">R$ <b>1.980,89</b></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="booking_item">
            <div class="">
              <div class="booking_item-header">
                <div class="booking_item-label">
                  <img src="../assets/images/car.svg" alt="">
                  <p>Carro</p>
                </div>
                <button class="btn btn-delete">
                  <img src="../assets/images/Trash.svg" alt="">
                  Excluir
                </button>
              </div>
      
              <div class="booking_item-content">
                <div class="booking_item-image">
                  <img src="../assets/images/Car.png" alt="">
                </div>
                <div class="booking_item-details">
                  <h3>Costa do Sauípe Premium Master - Standard</h3>
                  <div class="booking_item_detail">
                    <img src="../assets/images/calendar_gray.svg" alt="">
                    <p>23 Nov - 26 Nov</p>
                  </div>
      
                  <div class="booking_item_detail">
                    <img src="../assets/images/users.svg" alt="">
                    <p>2 Hóspedes, 1 Quarto</p>
                  </div>
      
                  <div class="booking_item_price-container">
                    <p>Preço <b>total</b></p>
                    <p class="price_text">R$ <b>1.980,89</b></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="booking_item">
            <div class="">
              <div class="booking_item-header">
                <div class="booking_item-label">
                  <img src="../assets/images/plane_gray.svg" alt="">
                  <p>Aéreo</p>
                </div>
                <button class="btn btn-transparent btn-action">
                  Conferir
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="checkout_total_price-container">
          <h3>Total do seu pedido</h3>

          <div class="booking_item_price-container checkout_total_price-content">
            <div>
              <p>Total do pedido</p>
              <p class="price_text">R$ <b>1.980,89</b></p>
            </div>
            <div>
              <a class="btn_action" href="./payments.html">
                Seguir para pagamento
                <img src="../assets/images/arrow-wht.svg" alt="">
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</body>
</html>