<!DOCTYPE html>
<html translate="no">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>
  
  <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>
<body class="page-confirmation">
  <header class="header-dark">
    <a href="../index.html" class="icon_container">
      <img src="../assets/images/favicon.svg" alt="Logo Infotera">
    </a>

    <div class="responsive_title">
      <p>Confirmação</p>
    </div>

    <div class="header_motor_search">
      <div class="input_field">
        <input type="text" value="hotel + aéreo">
      </div>
      <div class="input_field ">
        <img src="../assets/images/calendar.svg" alt="">
        <input class="custom-width-input" type="text" value="15 Nov - 25 nov">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>
      <div class="input_field ">
        <img src="../assets/images/users-black.svg" alt="">
        <input class="custom-width-input" type="text" value="3 Hósp., 1 Quarto">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>
      <div class="input_field ">
        <img src="../assets/images/Plane.svg" alt="">
        <input class="custom-width-input" type="text" value="POA - GRU">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>

      <button>
        <img src="../assets/images/search.svg" alt="">
      </button>
    </div>

    <div class="navgation_container">
      <nav>
        <ul>
          <li>
            <a href="#">
              <img src="../assets/images/user-login.svg" alt="">
              <span>FAZER LOGIN</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/cart.svg" alt="">
              <span>PEDIDO</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <div class="checkout-page">      
      <div class="checkout-container">
        <div class="details_confirmation-container">
          <div class="booking_success_message">
            <img src="../assets/images/Vector.svg" alt="">
            <div>
              <h3>Sua compra foi realizada com sucesso</h3>
              <p>Confira um resumo da sua compra</p>
            </div>
          </div>

          <h3 class="oreder_label">Pedido #1234</h3>
          <div class="booking_payment-item">
            <div class="label_payment_item">
              <img src="../assets/images/front_card.svg" alt="">
              <p>data da compra</p>
            </div>
            <div class="form_payment">
              <p>13/08/2022 - 13h35</p>
            </div>
          </div>

          <div class="booking_payment-item">
            <div class="label_payment_item">
              <img src="../assets/images/front_card.svg" alt="">
              <p>pagamento</p>
            </div>
            <div class="form_payment">
              <p><span>4x</span> de <span>R$ 120,90</span> no cartão <span>*1234</span></p>
            </div>
          </div>

          <div class="booking_payment-item">
            <div class="label_payment_item">
              <img src="../assets/images/front_card.svg" alt="">
              <p>voucher</p>
            </div>
            <div class="form_payment">
              <p>email@email.com.br</p>
            </div>
          </div>
        </div>

        <div class="checkout_total_price-container">
          <h3>Seu pedido</h3>

          <div class="booking_item">
            <div class="booking_item-header">
              <img src="../assets/images/building-gray.svg" alt="">
              <p>hospedagem</p>
            </div>

            <div class="booking_item-content">
              <h4>Costa do Sauípe Premium Master Standard</h4>
              <div class="item_detail">
                <img src="../assets/images/calendar_gray.svg" alt="">
                <p>23 Nov 2022 - 26 Nov 2022 (3 diárias)</p>
              </div>
              <div class="item_detail">
                <img src="../assets/images/users.svg" alt="">
                <p>2 Hóspedes, 1 Quarto</p>
              </div>
              <div class="item_detail">
                <img src="../assets/images/currency.svg" alt="">
                <p>2 hospedagens x R$ 990,00 (valor unitário)</p>
              </div>

              <div class="booking_item-footer">
                <div class="detail_price-container">
                  <p>Preço <span>total</span></p>
                  <p class="price_text">R$ <span>1.980,00</span></p>
                </div>
                
              </div>
            </div>

          </div>

          <div class="booking_item_price-container checkout_total_price-content">
            <div>
              <p>Total do pedido</p>
              <p class="price_text">R$ <b>1.980,89</b></p>
            </div>
          </div>
          <div>
            <a href="../index.html" style="width: 100%;" class="button_continue_checkout btn btn-letter-spacing">Voltar para home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>