<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Detalhe Hotel</title>

  <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>
<body>
  <header class="header-dark">
    <a href="../index.html" class="icon_container">
      <img src="../assets/images/favicon.svg" alt="Logo Infotera">
    </a>

    <div class="header_motor_search">
      <div class="input_field">
        <input type="text" value="hotel + aéreo">
      </div>
      
      <div class="input_field">
        <img src="../assets/images/calendar.svg" alt="">
        <input class="custom-width-input" type="text" value="15 Nov - 25 nov">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>
      
      <div class="input_field">
        <img src="../assets/images/users-black.svg" alt="">
        <input class="custom-width-input" type="text" value="3 Hósp., 1 Quarto">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>
      
      <div class="input_field">
        <img src="../assets/images/Plane.svg" alt="">
        <input class="custom-width-input" type="text" value="POA - GRU">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>

      <button>
        <img src="../assets/images/search.svg" alt="">
      </button>
    </div>

    <div class="navgation_container">
      <nav>
        <ul>
          <li>
            <a href="#">
              <img src="../assets/images/users.svg" alt="">
              FAZER LOGIN
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/cart.svg" alt="">
              PEDIDO
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <div class="image-container">
      <img src="../assets/images/312846914-p-800.jpg" alt="">
      <img src="../assets/images/312846914-p-500.jpg" alt="">
      <img src="../assets/images/312846914-p-500.jpg" alt="">
      <img src="../assets/images/312846914-p-500.jpg" alt="">
      <img src="../assets/images/312846914-p-500.jpg" alt="">
    </div>
    <div class="collumn">
      <div class="hotel_detail-container">
        <div class="description-container">
          <div class="rating-container">
            <div class="card-boardType">
              <p>Hospedagem</p>
            </div>
            
            <div class="evaluation_notes-container">
              <p>Muito bem avaliado</p>
              <div>
                <p class="label">8.5</p>
              </div>
            </div>
          </div>
          <div class="detail_container">
            <h1>Sauípe Resort Mega Premium</h1>
            <p class="detail_description">
              Localizada pertinho da praia, essa opção oferece conforto, gastronomia diversificada e ambientação clássica e provençal. 
              O hóspede Premium Sol tem acesso às alas do Sauípe Resorts e à todas as pousadas do destino, 
              além de contar com um atendimento exclusivo e diferenciais que só essa oferta tem. 
            </p>
          </div>
        </div>
        <div class="type_room-container accordion_list">
          <div class="accordion_list-header">
            <p class="accordion_list-title">tipo do quarto</p>
            <button>
              <img src="../assets/images/Remove.svg" alt="">
            </button>
          </div>
          <div class="type_room-content">
            <div class="type-room-item">
              <div class="type_room-image">
                <img src="../assets/images/312846914-p-500.jpg" alt="">
              </div>
              <div class="type_room-details">
                <div class="card-boardType">
                  <p>all inclusive</p>
                </div>
  
                <div class="item_content-container">
                  <div class="description_container">
                    <h3>Standard</h3>
                    <p class="detail_description">Descrição da categoria Descrição da categoriaDescrição da categoriaDescrição da categoria</p>
  
                    <div class="room_type_facilities-container">
                      <div class="facilitie-item">
                        <img src="../assets/images/lock-gray.svg" alt="">
                        <p>Fechadura digital</p>
                      </div>
  
                      <div class="facilitie-item">
                        <img src="../assets/images/lock-gray.svg" alt="">
                        <p>Fechadura digital</p>
                      </div>
  
                      <div class="facilitie-item">
                        <img src="../assets/images/lock-gray.svg" alt="">
                        <p>Fechadura digital</p>
                      </div>
  
                      <div class="facilitie-item">
                        <img src="../assets/images/lock-gray.svg" alt="">
                        <p>Fechadura digital</p>
                      </div>
                    </div>
                  </div>
  
                  <div class="type_room_price-container">
                    <p class="label">Preço por <br><span>diária</span></p>
                    <p class="type_room-price">R$ <span>1.980</span></p>
                  </div>
  
                  <div class="select_button-container">
                    <button class="select-button">Selecionar</button>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="type-room-item">
              <div class="type_room-image">
                <img src="../assets/images/312846914-p-500.jpg" alt="">
              </div>
              <div class="type_room-details">
                <div class="card-boardType">
                  <p>all inclusive</p>
                </div>
  
                <div class="item_content-container">
                  <div class="description_container">
                    <h3>Standard</h3>
                    <p class="detail_description">Descrição da categoria Descrição da categoriaDescrição da categoriaDescrição da categoria</p>
  
                    <div class="room_type_facilities-container">
                      <div class="facilitie-item">
                        <img src="../assets/images/lock-gray.svg" alt="">
                        <p>Fechadura digital</p>
                      </div>
  
                      <div class="facilitie-item">
                        <img src="../assets/images/lock-gray.svg" alt="">
                        <p>Fechadura digital</p>
                      </div>
  
                      <div class="facilitie-item">
                        <img src="../assets/images/lock-gray.svg" alt="">
                        <p>Fechadura digital</p>
                      </div>
  
                      <div class="facilitie-item">
                        <img src="../assets/images/lock-gray.svg" alt="">
                        <p>Fechadura digital</p>
                      </div>
                    </div>
                  </div>
  
                  <div class="type_room_price-container">
                    <p class="label">Preço por <br><span>diária</span></p>
                    <p class="type_room-price">R$ <span>1.980</span></p>
                  </div>
  
                  <div class="select_button-container">
                    <button class="select-button">Selecionar</button>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="type-room-item">
              <div class="type_room-image">
                <img src="../assets/images/312846914-p-500.jpg" alt="">
              </div>
              <div class="type_room-details">
                <div class="card-boardType">
                  <p>all inclusive</p>
                </div>
  
                <div class="item_content-container">
                  <div class="description_container">
                    <h3>Standard</h3>
                    <p class="detail_description">Descrição da categoria Descrição da categoriaDescrição da categoriaDescrição da categoria</p>
  
                    <div class="room_type_facilities-container">
                      <div class="facilitie-item">
                        <img src="../assets/images/lock-gray.svg" alt="">
                        <p>Fechadura digital</p>
                      </div>
  
                      <div class="facilitie-item">
                        <img src="../assets/images/lock-gray.svg" alt="">
                        <p>Fechadura digital</p>
                      </div>
  
                      <div class="facilitie-item">
                        <img src="../assets/images/lock-gray.svg" alt="">
                        <p>Fechadura digital</p>
                      </div>
  
                      <div class="facilitie-item">
                        <img src="../assets/images/lock-gray.svg" alt="">
                        <p>Fechadura digital</p>
                      </div>
                    </div>
                  </div>
  
                  <div class="type_room_price-container">
                    <p class="label">Preço por <br><span>diária</span></p>
                    <p class="type_room-price">R$ <span>1.980</span></p>
                  </div>
  
                  <div class="select_button-container">
                    <button class="select-button">Selecionar</button>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="type-room-item">
              <div class="type_room-image">
                <img src="../assets/images/312846914-p-500.jpg" alt="">
              </div>
              <div class="type_room-details">
                <div class="card-boardType">
                  <p>all inclusive</p>
                </div>
  
                <div class="item_content-container">
                  <div class="description_container">
                    <h3>Standard</h3>
                    <p class="detail_description">Descrição da categoria Descrição da categoriaDescrição da categoriaDescrição da categoria</p>
  
                    <div class="room_type_facilities-container">
                      <div class="facilitie-item">
                        <img src="../assets/images/lock-gray.svg" alt="">
                        <p>Fechadura digital</p>
                      </div>
  
                      <div class="facilitie-item">
                        <img src="../assets/images/lock-gray.svg" alt="">
                        <p>Fechadura digital</p>
                      </div>
  
                      <div class="facilitie-item">
                        <img src="../assets/images/lock-gray.svg" alt="">
                        <p>Fechadura digital</p>
                      </div>
  
                      <div class="facilitie-item">
                        <img src="../assets/images/lock-gray.svg" alt="">
                        <p>Fechadura digital</p>
                      </div>
                    </div>
                  </div>
  
                  <div class="type_room_price-container">
                    <p class="label">Preço por <br><span>diária</span></p>
                    <p class="type_room-price">R$ <span>1.980</span></p>
                  </div>
  
                  <div class="select_button-container">
                    <button class="select-button">Selecionar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="hotel_details-container accordion_list">
          <div class="accordion_list-header">
            <p class="accordion_list-title">descrição</p>
            <button>
              <img src="../assets/images/Remove.svg" alt="">
            </button>
          </div>
  
          <h3>O Hotel</h3>
  
          <p>
            Localizada pertinho da  praia, essa opção oferece conforto, gastronomia diversificada e ambientação clássica e provençal. O hóspede Premium Sol tem acesso às alas do Sauípe Resorts e à todas as pousadas do destino, além de contar com um atendimento exclusivo e diferenciais que só essa oferta tem. 
            <br><br>
            Ao reservar 7 noites, são disponibilizados  2 jantares a la carte (restaurantes temáticos) 2 atividades de lazer na Quermesse da Vila por PAX (exceto Vila Assombrada Escape). 
          </p>
  
          <h3>O All Inclusive</h3>
  
          <p>
            O regime de pensão all inclusive oferece café da manhã, almoço, jantar, ceia e opções de petiscos, além de bebidas alcóolicas e não alcoólicas. Dentre as bebidas, estão incluídas no pacote:
            <br>
            <br> Cervejas: do portfólio Ambev, 3 marcas do tipo Lager. 
            <br> Drinks e alcoólicos diversos: Drinks especiais preparados com destilados nacionais premium e importados    
            <br> Minibar:  Água mineral, refrigerantes e cerveja.
            <br> Bebidas não alcoólicas: Refrigerantes post mix e latas, sucos e água de coco natural.
            <br> Vinhos: Espumante nacional, Tinto e branco importado
            <br> Whisky: Importados 8 anos
            <br> Vodka e Gin: Primeira linha nacional
            <br> Lanches e petiscos  na piscina: das 10h30 as 18h
            <br>
            <br> No restaurante Tempero, todas as refeições do Sauípe Premium Sol são servidas. No almoço e jantar, é oferecido um buffet completo composto por pães, frios diversos, saladas de legumes, verduras e hortaliças diversas, molhos variados, estação de pizzas e massas, pratos quentes com toque regional, sobremesas variadas e sorvetes com coberturas diversificadas. Já no café da manhã, a refeição é composta por café, chás, leite, sucos da estação, iogurte (natural e com frutas), estação de frios e queijos, frutas diversas da época, seleção de pães salgados e doces, bolos diversos, estação de tapioca e omeletes, além de pratos quentes, como mingaus, raízes e ovos mexidos. A ceia é servida no lobby do hotel, oferece: sanduíches, sopas, massas, frutas, água, refrigerantes e café. 
          </p>
        </div>
  
        <!-- <div class="additional-container accordion_list">
          <div class="accordion_list-header">
            <p class="accordion_list-title">Adicionais</p>
            <button>
              <img src="../assets/images/Plus.svg" alt="">
            </button>
          </div>
        </div> -->
      </div>

      <div class="sidebar-container">
        <h3>Seu Pedido</h3>

        <div class="sidebar_items_list">
          <div class="sidebar_item">
            <div class="sidebar_item_label">
              <img src="../assets/images/building-gray.svg" alt="">
              <p>hospedagem</p>
            </div>
            <span>Selecione um tipo</span>
          </div>
  
          <div class="sidebar_item">
            <div class="sidebar_item_label">
              <img src="../assets/images/plane_gray.svg" alt="">
              <p>aéreo</p>
            </div>
            <a href="">Buscar</a>
          </div>
  
          <div class="sidebar_item">
            <div class="sidebar_item_label">
              <img src="../assets/images/transport.svg" alt="">
              <p>Transporte</p>
            </div>
            <a href="">Buscar</a>
          </div>
  
          <div class="sidebar_item">
            <div class="sidebar_item_label">
              <img src="../assets/images/box-gray.svg" alt="">
              <p>adicionais</p>
            </div>
            <a href="./services.html">Buscar</a>
          </div>
          
          <div class="sidebar_item total_order-container">
            <div class="sidebar_price_container">
              <p>Total do pedido</p>
              <p class="text_price">R$ <span class="span_price">0,00</span></p>
            </div>
            <div>
              <a class="sidebar_btn_order" href="./checkout.html">
                Seguir para compra
                <img src="../assets/images/arrow-wht.svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</body>
</html>