<!DOCTYPE html>
<html translate="no">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Lista de Hotéis</title>

  <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>
  <body class="page-hotelList">
    <header class="header-dark header-services">
      <a href="../index.html" class="icon_container">
        <img src="../assets/images/favicon.svg" alt="Logo Infotera">
        <p>Infotera</p>
      </a>
  
      <div class="header_motor_search desktop">
        <div class="input_field">
          <input type="text" value="hotel + aéreo">
        </div>
        <div class="input_field">
          <img src="../assets/images/calendar.svg" alt="">
          <input class="custom-width-input" type="text" value="15 Nov - 25 nov">
          <img src="../assets/images/down-arrow-1.svg" alt="">
        </div>
        <div class="input_field">
          <img src="../assets/images/users-black.svg" alt="">
          <input class="custom-width-input" type="text" value="3 Hósp., 1 Quarto">
          <img src="../assets/images/down-arrow-1.svg" alt="">
        </div>
        <div class="input_field">
          <img src="../assets/images/Plane.svg" alt="">
          <input class="custom-width-input" type="text" value="POA - GRU">
          <img src="../assets/images/down-arrow-1.svg" alt="">
        </div>
  
        <button>
          <img src="../assets/images/search.svg" alt="">
        </button>
      </div>
  
      <div class="header_motor_search mobile">
        <button>
          <img src="../assets/images/Research.svg" alt="">
        </button>
        <div class="input_field ">
          <img src="../assets/images/calendar.svg" alt="">
          <input class="custom-width-input" type="text" value="15 Nov - 25 nov">
          <img src="../assets/images/down-arrow-1.svg" alt="">
        </div>
  
        <button class="btn-filters-mobile">
          <img src="../assets/images/Filters.svg" alt="">
        </button>
      </div>
      <div class="navgation_container">
        <nav>
          <ul>
            <li>
              <a href="#">
                <img src="../assets/images/user-login.svg" alt="">
                <span>FAZER LOGIN</span>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../assets/images/cart.svg" alt="">
                <span>PEDIDO</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="title_container">
        <h1>Resultados da sua pesquisa</h1>
      </div>
      <div class="order_filters-container">
        <div class="p-order">
          <p>Ordenar por:</p>
        </div>
        
        <div class="order_filter_item-container">
          <div class="order_filter_item"><p>Mais Barato</p></div>
          <div class="order_filter_item"><p>Mais Caros</p></div>
          <div class="order_filter_item"><p>Melhor avaliado</p></div>
        </div>
      </div>
      <div class="container_content">
        <div class="hotel_list-container">
          <a href="./detailHotel.html">
            <div class="hotel_list-item">
              <div class="image_hotel">
                <img src="../assets/images/312846914-p-500.jpg" alt="">
              </div>
              <div class="card_body-container">
                <div class="card_title-container">
                  <div class="label-container">
                    <p class="label">hospedagem</p>
                  </div>
                  <div class="assessment-container">
                    <p><span>8.5</span>/10</p>
                  </div>
                </div>
                <div class="card-content">
                  <h3>Sauípe Resort Mega Premium</h3>
                  <p>A escolha mais luxuosa da Costa do Sauípe.</p>

                  <div class="boardTypes-container">
                    <div class="boardType-content">
                      <img src="../assets/images/Vector.svg" alt="">
                      <p>Café da manhã incluso</p>
                    </div>
                    <div class="boardType-content">
                      <img src="../assets/images/Vector.svg" alt="">
                      <p>Café da manhã incluso</p>
                    </div>
                    <div class="boardType-content">
                      <img src="../assets/images/Vector.svg" alt="">
                      <p>Café da manhã incluso</p>
                    </div>
                    <div class="boardType-content">
                      <img src="../assets/images/Vector.svg" alt="">
                      <p>Café da manhã incluso</p>
                    </div>
                  </div>

                  <div class="price_details-container">
                    
                      <p>Preço por <span class="dark_text">diária</span></p>


                      <div class="discount-container">
                        <p class="discount-content">30% OFF</p>
                      </div>

                      <div class="price-container">
                        <p class="price_depor">R$ 2.980</p>
                        <p class="price"><span class="small_text">R$</span> 1.980</p>
                      </div>
                    
                  </div>

                </div>
    
              </div>
            </div>
          </a>
          <a href="./detailHotel.html">
            <div class="hotel_list-item">
              <div class="image_hotel">
                <img src="../assets/images/312846914-p-500.jpg" alt="">
              </div>
              <div class="card_body-container">
                <div class="card_title-container">
                  <div class="label-container">
                    <p class="label">hospedagem</p>
                  </div>
                  <div class="assessment-container">
                    <p><span>8.5</span>/10</p>
                  </div>
                </div>
                <div class="card-content">
                  <h3>Sauípe Resort Mega Premium</h3>
                  <p>A escolha mais luxuosa da Costa do Sauípe.</p>

                  <div class="boardTypes-container">
                    <div class="boardType-content">
                      <img src="../assets/images/Vector.svg" alt="">
                      <p>Café da manhã incluso</p>
                    </div>
                    <div class="boardType-content">
                      <img src="../assets/images/Vector.svg" alt="">
                      <p>Café da manhã incluso</p>
                    </div>
                    <div class="boardType-content">
                      <img src="../assets/images/Vector.svg" alt="">
                      <p>Café da manhã incluso</p>
                    </div>
                    <div class="boardType-content">
                      <img src="../assets/images/Vector.svg" alt="">
                      <p>Café da manhã incluso</p>
                    </div>
                  </div>

                  <div class="price_details-container">
                      <p>Preço por <span class="dark_text">diária</span></p>
                      <div class="discount-container">
                        <p class="discount-content">30% OFF</p>
                      </div>

                      <div class="price-container">
                        <p class="price_depor">R$ 2.980</p>
                        <p class="price"><span class="small_text">R$</span> 1.980</p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="./detailHotel.html">
            <div class="hotel_list-item">
              <div class="image_hotel">
                <img src="../assets/images/312846914-p-500.jpg" alt="">
              </div>
              <div class="card_body-container">
                <div class="card_title-container">
                  <div class="label-container">
                    <p class="label">hospedagem</p>
                  </div>
                  <div class="assessment-container">
                    <p><span>8.5</span>/10</p>
                  </div>
                </div>
                <div class="card-content">
                  <h3>Sauípe Resort Mega Premium</h3>
                  <p>A escolha mais luxuosa da Costa do Sauípe.</p>

                  <div class="boardTypes-container">
                    <div class="boardType-content">
                      <img src="../assets/images/Vector.svg" alt="">
                      <p>Café da manhã incluso</p>
                    </div>
                    <div class="boardType-content">
                      <img src="../assets/images/Vector.svg" alt="">
                      <p>Café da manhã incluso</p>
                    </div>
                    <div class="boardType-content">
                      <img src="../assets/images/Vector.svg" alt="">
                      <p>Café da manhã incluso</p>
                    </div>
                    <div class="boardType-content">
                      <img src="../assets/images/Vector.svg" alt="">
                      <p>Café da manhã incluso</p>
                    </div>
                  </div>

                  <div class="price_details-container">
                      <p>Preço por <span class="dark_text">diária</span></p>
                      <div class="discount-container">
                        <p class="discount-content">30% OFF</p>
                      </div>
                      <div class="price-container">
                        <p class="price_depor">R$ 2.980</p>
                        <p class="price"><span class="small_text">R$</span> 1.980</p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="./detailHotel.html">
            <div class="hotel_list-item">
              <div class="image_hotel">
                <img src="../assets/images/312846914-p-500.jpg" alt="">
              </div>
              <div class="card_body-container">
                <div class="card_title-container">
                  <div class="label-container">
                    <p class="label">hospedagem</p>
                  </div>
                  <div class="assessment-container">
                    <p><span>8.5</span>/10</p>
                  </div>
                </div>
                <div class="card-content">
                  <h3>Sauípe Resort Mega Premium</h3>
                  <p>A escolha mais luxuosa da Costa do Sauípe.</p>

                  <div class="boardTypes-container">
                    <div class="boardType-content">
                      <img src="../assets/images/Vector.svg" alt="">
                      <p>Café da manhã incluso</p>
                    </div>
                    <div class="boardType-content">
                      <img src="../assets/images/Vector.svg" alt="">
                      <p>Café da manhã incluso</p>
                    </div>
                    <div class="boardType-content">
                      <img src="../assets/images/Vector.svg" alt="">
                      <p>Café da manhã incluso</p>
                    </div>
                    <div class="boardType-content">
                      <img src="../assets/images/Vector.svg" alt="">
                      <p>Café da manhã incluso</p>
                    </div>
                  </div>

                  <div class="price_details-container">
                      <p>Preço por <span class="dark_text">diária</span></p>
                      <div class="discount-container">
                        <p class="discount-content">30% OFF</p>
                      </div>
                      <div class="price-container">
                        <p class="price_depor">R$ 2.980</p>
                        <p class="price"><span class="small_text">R$</span> 1.980</p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="./detailHotel.html">
            <div class="hotel_list-item">
              <div class="image_hotel">
                <img src="../assets/images/312846914-p-500.jpg" alt="">
              </div>
              <div class="card_body-container">
                <div class="card_title-container">
                  <div class="label-container">
                    <p class="label">hospedagem</p>
                  </div>
                  <div class="assessment-container">
                    <p><span>8.5</span>/10</p>
                  </div>
                </div>
                <div class="card-content">
                  <h3>Sauípe Resort Mega Premium</h3>
                  <p>A escolha mais luxuosa da Costa do Sauípe.</p>

                  <div class="boardTypes-container">
                    <div class="boardType-content">
                      <img src="../assets/images/Vector.svg" alt="">
                      <p>Café da manhã incluso</p>
                    </div>
                    <div class="boardType-content">
                      <img src="../assets/images/Vector.svg" alt="">
                      <p>Café da manhã incluso</p>
                    </div>
                    <div class="boardType-content">
                      <img src="../assets/images/Vector.svg" alt="">
                      <p>Café da manhã incluso</p>
                    </div>
                    <div class="boardType-content">
                      <img src="../assets/images/Vector.svg" alt="">
                      <p>Café da manhã incluso</p>
                    </div>
                  </div>

                  <div class="price_details-container">
                      <p>Preço por <span class="dark_text">diária</span></p>
                      <div class="discount-container">
                        <p class="discount-content">30% OFF</p>
                      </div>
                      <div class="price-container">
                        <p class="price_depor">R$ 2.980</p>
                        <p class="price"><span class="small_text">R$</span> 1.980</p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="filters-container">
          <div class="filter_title-container">
            <h3>Filtros</h3>
            <button class="btn btn-transparent btn-action btn-border-bottom">Limpar Filtros</button>
          </div>

          <div class="filters-content">
            <h4>faixa de preço</h4>
            <div class="graphic">
              <img src="../assets/images/graphic.jpeg" alt="">
            </div>
            <div class="price_minmax-container">
              <div class="minmax_card">
                <h4>Preço Mínimo</h4>
                <p>R$ 800</p>
              </div>

              <div class="minmax_card">
                <h4>Preço Máximo</h4>
                <p>R$ 1.980</p>
              </div>
            </div>

            <div class="filter_rating-container">
              <h4>Avaliação</h4>
              <div class="btns-container">
                <button class="btn btn-filter-sidebar selected">1</button>
                <button class="btn btn-filter-sidebar">2</button>
                <button class="btn btn-filter-sidebar">3</button>
                <button class="btn btn-filter-sidebar">4</button>
                <button class="btn btn-filter-sidebar">5</button>
              </div>
            </div>

            <div class="filter_rooms-container">
              <h4>Número de quartos</h4>
              <div class="btns-container">
                <button class="btn btn-filter-sidebar selected">1+</button>
                <button class="btn btn-filter-sidebar">2+</button>
                <button class="btn btn-filter-sidebar">3+</button>
                <button class="btn btn-filter-sidebar">4+</button>
                <button class="btn btn-filter-sidebar">5+</button>
              </div>
            </div>

            <div class="filter_flight_company-container">
              <h4>CIA Aérea</h4>

              <div class="filter_flight_company-content">
                <div class="filter_flight_company-item">
                  <img src="../assets/images/two-arrows.svg" alt="">
                  <p>Aerolineas Argentinas</p>
                  <input type="checkbox">
                </div>

                <div class="filter_flight_company-item">
                  <img src="../assets/images/two-arrows.svg" alt="">
                  <p>Aerolineas Argentinas</p>
                  <input type="checkbox">
                </div>

                <div class="filter_flight_company-item">
                  <img src="../assets/images/two-arrows.svg" alt="">
                  <p>Aerolineas Argentinas</p>
                  <input type="checkbox">
                </div>

                <div class="filter_flight_company-item">
                  <img src="../assets/images/two-arrows.svg" alt="">
                  <p>Aerolineas Argentinas</p>
                  <input type="checkbox">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
