<!DOCTYPE html>
<html translate="no">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>
  
  <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>
<body class="page-payments">
  <header class="header-dark">
    <a href="../index.html" class="icon_container">
      <img src="../assets/images/favicon.svg" alt="Logo Infotera">
    </a>

    <div class="responsive_title">
      <p>Checkout</p>
    </div>

    <div class="header_motor_search">
      <div class="input_field">
        <input type="text" value="hotel + aéreo">
      </div>
      <div class="input_field">
        <img src="../assets/images/calendar.svg" alt="">
        <input class="custom-width-input" type="text" value="15 Nov - 25 nov">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>
      <div class="input_field">
        <img src="../assets/images/users-black.svg" alt="">
        <input class="custom-width-input" type="text" value="3 Hósp., 1 Quarto">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>
      <div class="input_field">
        <img src="../assets/images/Plane.svg" alt="">
        <input class="custom-width-input" type="text" value="POA - GRU">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>

      <button>
        <img src="../assets/images/search.svg" alt="">
      </button>
    </div>

    <div class="navgation_container">
      <nav>
        <ul>
          <li>
            <a href="#">
              <img src="../assets/images/user-login.svg" alt="">
              <span>FAZER LOGIN</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/cart.svg" alt="">
              <span>PEDIDO</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <div class="checkout-page">
      <div class="checkout-title">
        <h1>Finalização da compra</h1>
      </div>
      
      
      <div class="checkout-container">
        <div class="booking_list">
          <div class="booking_item">
            <div class="item">
              <div class="booking_item-header">
                <div class="booking_item-label">
                  <p id="teste">01. Login</p>
                </div>
                <button class="btn btn-transparent btn-action">
                  <img src="../assets/images/Remove.svg" alt="">
                </button>
              </div>
      
              <div class="payment_item-content">
                <div class="payment_item-field">
                  <img src="../assets/images/envelope.svg" alt="">
                  <div class="input_field">
                    <label>E-mail</label>
                    <input type="text" placeholder="Digite um e-mail">
                  </div>
                </div>

                <div class="payment_item-field">
                  <img src="../assets/images/lock_checkout.svg" alt="">
                  <div class="input_field">
                    <label>senha</label>
                    <input type="text" placeholder="Digite sua senha">
                  </div>
                </div>
              </div>

              <div class="payment_item-footer">
                <button class="btn btn-transparent btn-action">Esqueci minha senha</button>
                <button class="btn btn-blue">
                  Entrar
                  <img src="../assets/images/arrow-wht.svg" alt="">
                </button>
              </div>

              <div class="login_buttons-container">

                <button class="btn btn-social-medias facebook-button">
                  <img src="../assets/images/Facebook.svg" alt="">
                  Entrar com Facebook
                </button>

                <button class="btn btn-social-medias apple-button">
                  <img src="../assets/images/apple.svg" alt="">
                  Entrar com Apple
                </button>

                <button class="btn btn-social-medias google-button">
                  <img src="../assets/images/google.svg" alt="">
                  Entrar com o Google
                </button>

                <button class="btn btn-social-medias local_account-button">
                  Criar conta local
                </button>

              </div>
            </div>
          </div>

          <div class="booking_item">
            <div class="">
              <div class="booking_item-header">
                <div class="booking_item-label">
                  <p id="teste">02. identificação</p>
                </div>
                <button class="btn btn-transparent btn-action">
                  <img src="../assets/images/Plus.svg" alt="">
                </button>
              </div>
            </div>
          </div>

          <div class="booking_item">
            <div class="">
              <div class="booking_item-header">
                <div class="booking_item-label">
                  <p id="teste">03. pagamento</p>
                </div>
                <button class="btn btn-transparent btn-action">
                  <img src="../assets/images/Plus.svg" alt="">
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="checkout_total_price-container booking_item-hide">
          <h3 class="hide-responsive">Seu pedido</h3>

          <div class="booking_item hide-responsive">
            <div class="booking_item-header">
              <img src="../assets/images/building-gray.svg" alt="">
              <p>hospedagem</p>
            </div>

            <div class="booking_item-content">
              <h4>Costa do Sauípe Premium Master Standard</h4>
              <div class="item_detail">
                <img src="../assets/images/calendar_gray.svg" alt="">
                <p>23 Nov 2022 - 26 Nov 2022 (3 diárias)</p>
              </div>
              <div class="item_detail">
                <img src="../assets/images/users.svg" alt="">
                <p>2 Hóspedes, 1 Quarto</p>
              </div>
              <div class="item_detail">
                <img src="../assets/images/currency.svg" alt="">
                <p>2 hospedagens x R$ 990,00 (valor unitário)</p>
              </div>

              <div class="booking_item-footer">
                <div class="detail_price-container">
                  <p>Preço <span>total</span></p>
                  <p class="price_text">R$ <span>1.980,00</span></p>
                </div>
                <button class="btn btn-delete no-border">
                  <img src="../assets/images/Trash.svg" alt="">
                  Excluir
                </button>
              </div>
            </div>

          </div>

          <div class="booking_item_price-container checkout_total_price-content">
            <div>
              <p>Total do pedido</p>
              <p class="price_text">R$ <b>1.980,89</b></p>
            </div>
            <div>
              <a class="btn_action" href="./confirmation.html">
                Finalizar compra
                <img src="../assets/images/arrow-wht.svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>