<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>B2C - Configurações</title>

  <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>
<body>
  <header class="header-dark">
    <a href="../index.html" class="icon_container">
      <img src="../assets/images/favicon.svg" alt="Logo Infotera">
    </a>

    <div class="header_motor_search">
      <div class="input_field">
        <input type="text" value="hotel + aéreo">
      </div>
      <div class="input_field ">
        <img src="../assets/images/calendar.svg" alt="">
        <input class="custom-width-input" type="text" value="15 Nov - 25 nov">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>
      <div class="input_field ">
        <img src="../assets/images/users-black.svg" alt="">
        <input class="custom-width-input" type="text" value="3 Hósp., 1 Quarto">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>
      <div class="input_field ">
        <img src="../assets/images/Plane.svg" alt="">
        <input class="custom-width-input" type="text" value="POA - GRU">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>

      <button>
        <img src="../assets/images/search.svg" alt="">
      </button>
    </div>

    <div class="navgation_container">
      <nav>
        <ul>
          <li>
            <a href="#">
              <img src="../assets/images/users.svg" alt="">
              FAZER LOGIN
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/cart.svg" alt="">
              PEDIDO
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <div class="setting_title">
      <h1>Configurações</h1>
    </div>

    <div class="settings_list-container">
      <div class="setting_tab">
        <h4>privacidade</h4>
        <img src="../assets/images/Plus.svg" alt="">
      </div>

      <div class="setting_tab">
        <h4>e-mail</h4>
        <img src="../assets/images/Plus.svg" alt="">
      </div>
    </div>
  </div>

  <div class="pendencies_bar">
    <div class="pendencies_container">
      <span>Alterações pendentes</span>
      <p>2 alterações</p>
    </div>

    <button class="btn btn-blue">
      Salvar
      <img src="../assets/images/arrow-wht.svg" alt="">
    </button>
  </div>
</body>
</html>