<!DOCTYPE html>
<html translate="no">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>

  <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>
<body>
  <header class="header-dark">
    <a href="../index.html" class="icon_container">
      <img src="../assets/images/favicon.svg" alt="Logo Infotera">
    </a>

    <div class="header_motor_search">
      <div class="input_field">
        <input type="text" value="hotel + aéreo">
      </div>
      <div class="input_field ">
        <img src="../assets/images/calendar.svg" alt="">
        <input class="custom-width-input" type="text" value="15 Nov - 25 nov">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>
      <div class="input_field ">
        <img src="../assets/images/users-black.svg" alt="">
        <input class="custom-width-input" type="text" value="3 Hósp., 1 Quarto">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>
      <div class="input_field ">
        <img src="../assets/images/Plane.svg" alt="">
        <input class="custom-width-input" type="text" value="POA - GRU">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>

      <button>
        <img src="../assets/images/search.svg" alt="">
      </button>
    </div>

    <div class="navgation_container">
      <nav>
        <ul>
          <li>
            <a href="#">
              <img src="../assets/images/users.svg" alt="">
              FAZER LOGIN
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/cart.svg" alt="">
              PEDIDO
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <div>
      <div class="sub-header">
        <div class="user">
          <h1 class="dashboard-responsive">Olá, João!</h1>
          <p>Navegue pela sua conta</p>
        </div>

        <div class="logout_container">
          <img src="../assets/images/Logout.svg" alt="">
          <p>Deslogar</p>
        </div>
      </div>
      <div class="user_items-container">
        <a href="./vouchers.html" class="user_item">
          <img src="../assets/images/ticket.svg" alt="">
          <p>Meus Vouchers</p>
        </a>

        <a href="./historic.html" class="user_item">
          <img src="../assets/images/ticket.svg" alt="">
          <p>Histórico de Pedidos</p>
        </a>

        <a href="./settings.html" class="user_item">
          <img src="../assets/images/cog.svg" alt="">
          <p>Configurações</p>
        </a>
      </div>
    </div>
  </div>
</body>
</html>