<!DOCTYPE html>
<html translate="no">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>B2C - Meus Vouchers</title>

  <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>
<body class="page-vouchers">
  <header class="header-dark">
    <a href="../index.html" class="icon_container">
      <img src="../assets/images/favicon.svg" alt="Logo Infotera">
    </a>

    <div class="responsive_title">
      <p>Meus Vouchers</p>
    </div>

    <div class="header_motor_search">
      <div class="input_field">
        <input type="text" value="hotel + aéreo">
      </div>
      <div class="input_field ">
        <img src="../assets/images/calendar.svg" alt="">
        <input class="custom-width-input" type="text" value="15 Nov - 25 nov">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>
      <div class="input_field ">
        <img src="../assets/images/users-black.svg" alt="">
        <input class="custom-width-input" type="text" value="3 Hósp., 1 Quarto">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>
      <div class="input_field ">
        <img src="../assets/images/Plane.svg" alt="">
        <input class="custom-width-input" type="text" value="POA - GRU">
        <img src="../assets/images/down-arrow-1.svg" alt="">
      </div>

      <button>
        <img src="../assets/images/search.svg" alt="">
      </button>
    </div>

    <div class="navgation_container">
      <nav>
        <ul>
          <li>
            <a href="#">
              <img src="../assets/images/users.svg" alt="">
              <span>FAZER LOGIN</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/cart.svg" alt="">
              <span>PEDIDO</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container page-vouchers">
    <div class="title_container">
      <h1>Meus Vouchers</h1>
    </div>
    <div class="list_vouchers">
      <div class="subtitle_container">
        <h3>Não utilizados</h3>
      </div>
      <div class="vouchers_list-container">
        <a href="./voucher.html" class="voucher_item">
          <div class="voucher_image-container">
            <img src="../assets/images/312846914-p-500.jpg" alt="">
          </div>
          <div class="voucher_detail-container">
            <h3>Costa do Sauípe Premium Master Standard</h3>
            <div class="content_item">
              <img src="../assets/images/calendar_gray.svg" alt="">
              <p>23 Nov 2022 - 26 Nov 2022 (3 diárias)</p>
            </div>
  
            <div class="content_item">
              <img src="../assets/images/users.svg" alt="">
              <p>2 Hóspedes, 1 Quarto</p>
            </div>
            
            <div class="content_item content_item-hide">
              <img src="../assets/images/currency.svg" alt="">
              <p>2 hospedagens x R$ 990,00 (valor unitário)</p>
            </div>
            <div class="voucher_detail-footer">
              <p>Preço total</p>
              <p class="text_price">
                R$ <span>1980,00</span>
              </p>
            </div>
          </div>
  
        </a>
  
        <a href="./voucher.html" class="voucher_item">
          <div class="voucher_image-container">
            <img src="../assets/images/312846914-p-500.jpg" alt="">
          </div>
          <div class="voucher_detail-container">
            <h3>Costa do Sauípe Premium Master Standard</h3>
            <div class="content_item">
              <img src="../assets/images/calendar_gray.svg" alt="">
              <p>23 Nov 2022 - 26 Nov 2022 (3 diárias)</p>
            </div>
  
            <div class="content_item">
              <img src="../assets/images/users.svg" alt="">
              <p>2 Hóspedes, 1 Quarto</p>
            </div>
            
            <div class="content_item content_item-hide">
              <img src="../assets/images/currency.svg" alt="">
              <p>2 hospedagens x R$ 990,00 (valor unitário)</p>
            </div>
            <div class="voucher_detail-footer">
              <p>Preço total</p>
              <p class="text_price">
                R$ <span>1980,00</span>
              </p>
            </div>
          </div>
  
        </a>
  
        <a href="./voucher.html" class="voucher_item">
          <div class="voucher_image-container">
            <img src="../assets/images/312846914-p-500.jpg" alt="">
          </div>
          <div class="voucher_detail-container">
            <h3>Costa do Sauípe Premium Master Standard</h3>
            <div class="content_item">
              <img src="../assets/images/calendar_gray.svg" alt="">
              <p>23 Nov 2022 - 26 Nov 2022 (3 diárias)</p>
            </div>
  
            <div class="content_item">
              <img src="../assets/images/users.svg" alt="">
              <p>2 Hóspedes, 1 Quarto</p>
            </div>
            
            <div class="content_item content_item-hide">
              <img src="../assets/images/currency.svg" alt="">
              <p>2 hospedagens x R$ 990,00 (valor unitário)</p>
            </div>
            <div class="voucher_detail-footer">
              <p>Preço total</p>
              <p class="text_price">
                R$ <span>1980,00</span>
              </p>
            </div>
          </div>
  
        </a>
  
        <a href="./voucher.html" class="voucher_item">
          <div class="voucher_image-container">
            <img src="../assets/images/312846914-p-500.jpg" alt="">
          </div>
          <div class="voucher_detail-container">
            <h3>Costa do Sauípe Premium Master Standard</h3>
            <div class="content_item">
              <img src="../assets/images/calendar_gray.svg" alt="">
              <p>23 Nov 2022 - 26 Nov 2022 (3 diárias)</p>
            </div>
  
            <div class="content_item">
              <img src="../assets/images/users.svg" alt="">
              <p>2 Hóspedes, 1 Quarto</p>
            </div>
            
            <div class="content_item content_item-hide">
              <img src="../assets/images/currency.svg" alt="">
              <p>2 hospedagens x R$ 990,00 (valor unitário)</p>
            </div>
            <div class="voucher_detail-footer">
              <p>Preço total</p>
              <p class="text_price">
                R$ <span>1980,00</span>
              </p>
            </div>
          </div>
  
        </a>
      </div>
    </div>

    <div class="list_vouchers">
      <div class="subtitle_container">
        <h3>utilizados</h3>
      </div>
      <div class="vouchers_list-container items-opacity-semiopaque">
        <a href="./voucher.html" class="voucher_item">
          <div class="voucher_image-container">
            <img src="../assets/images/312846914-p-500.jpg" alt="">
          </div>
          <div class="voucher_detail-container">
            <h3>Costa do Sauípe Premium Master Standard</h3>
            <div class="content_item">
              <img src="../assets/images/calendar_gray.svg" alt="">
              <p>23 Nov 2022 - 26 Nov 2022 (3 diárias)</p>
            </div>
  
            <div class="content_item">
              <img src="../assets/images/users.svg" alt="">
              <p>2 Hóspedes, 1 Quarto</p>
            </div>
            
            <div class="content_item content_item-hide">
              <img src="../assets/images/currency.svg" alt="">
              <p>2 hospedagens x R$ 990,00 (valor unitário)</p>
            </div>
            <div class="voucher_detail-footer">
              <p>Preço total</p>
              <p class="text_price">
                R$ <span>1980,00</span>
              </p>
            </div>
          </div>
  
        </a>
  
        <a href="./voucher.html" class="voucher_item">
          <div class="voucher_image-container">
            <img src="../assets/images/312846914-p-500.jpg" alt="">
          </div>
          <div class="voucher_detail-container">
            <h3>Costa do Sauípe Premium Master Standard</h3>
            <div class="content_item">
              <img src="../assets/images/calendar_gray.svg" alt="">
              <p>23 Nov 2022 - 26 Nov 2022 (3 diárias)</p>
            </div>
  
            <div class="content_item">
              <img src="../assets/images/users.svg" alt="">
              <p>2 Hóspedes, 1 Quarto</p>
            </div>
            
            <div class="content_item content_item-hide">
              <img src="../assets/images/currency.svg" alt="">
              <p>2 hospedagens x R$ 990,00 (valor unitário)</p>
            </div>
            <div class="voucher_detail-footer">
              <p>Preço total</p>
              <p class="text_price">
                R$ <span>1980,00</span>
              </p>
            </div>
          </div>
  
        </a>
  
        <a href="./voucher.html" class="voucher_item">
          <div class="voucher_image-container">
            <img src="../assets/images/312846914-p-500.jpg" alt="">
          </div>
          <div class="voucher_detail-container">
            <h3>Costa do Sauípe Premium Master Standard</h3>
            <div class="content_item">
              <img src="../assets/images/calendar_gray.svg" alt="">
              <p>23 Nov 2022 - 26 Nov 2022 (3 diárias)</p>
            </div>
  
            <div class="content_item">
              <img src="../assets/images/users.svg" alt="">
              <p>2 Hóspedes, 1 Quarto</p>
            </div>
            
            <div class="content_item content_item-hide">
              <img src="../assets/images/currency.svg" alt="">
              <p>2 hospedagens x R$ 990,00 (valor unitário)</p>
            </div>
            <div class="voucher_detail-footer">
              <p>Preço total</p>
              <p class="text_price">
                R$ <span>1980,00</span>
              </p>
            </div>
          </div>
  
        </a>
  
        <a href="./voucher.html" class="voucher_item">
          <div class="voucher_image-container">
            <img src="../assets/images/312846914-p-500.jpg" alt="">
          </div>
          <div class="voucher_detail-container">
            <h3>Costa do Sauípe Premium Master Standard</h3>
            <div class="content_item">
              <img src="../assets/images/calendar_gray.svg" alt="">
              <p>23 Nov 2022 - 26 Nov 2022 (3 diárias)</p>
            </div>
  
            <div class="content_item">
              <img src="../assets/images/users.svg" alt="">
              <p>2 Hóspedes, 1 Quarto</p>
            </div>
            
            <div class="content_item content_item-hide">
              <img src="../assets/images/currency.svg" alt="">
              <p>2 hospedagens x R$ 990,00 (valor unitário)</p>
            </div>
            <div class="voucher_detail-footer">
              <p>Preço total</p>
              <p class="text_price">
                R$ <span>1980,00</span>
              </p>
            </div>
          </div>
  
        </a>
      </div>
    </div>
  </div>
</body>
</html>