/*=====================================
Button
====================================*/

.btn {
  padding: rem(16) rem(24);
  border-radius: var(--border-radius-sm);
  display: flex;
  gap: rem(5);
  align-items: center;
  font-weight: var(--font-bold);
  text-transform: uppercase;
  transition: .4s;
  
  &.btn-transparent {
    background-color: transparent;
  }

  &.btn-filter-sidebar {
    padding: rem(10) rem(15);
    border: solid rem(2) var(--neutral-high-medium-color);
    color: var(--neutral-high-medium-color);;
    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-xxs);
    transition: .4s;

    &:hover, &.selected {
      border-color: var(--secondary-color);
      color: var(--secondary-color);
    }
  }
  
  &.btn-blue {
    background-color: var(--primary-color);
    color: var(--white-color);
  }

  &.btn-border-bottom {
    border-bottom: rem(1) solid var(--black-color);
    border-radius: 0;
  }

  &.btn-action {
    padding: 0;
    font-weight: var(--font-regular);
    text-transform: capitalize;
    transition: .3s;

    &:hover {
      font-weight: var(--font-bold);
    }
  }

  &.btn-delete {
    background-color: transparent;
    padding: 0 rem(5);
    display: flex;
    align-items: center;
    gap: rem(5);
    color: var(--feedback-bad-color);
    border-bottom: solid rem(1) var(--feedback-bad-color);
    border-radius: 0;
    font-weight: var(--font-regular);
    text-transform: capitalize;
    transition: .3s;

    &:hover {
      border-width: rem(2);
      font-weight: var(--font-bold);
    }
  }

  &.no-border {
    border: none;
  }

  &.btn-letter-spacing {
    letter-spacing: rem(1);
    font-weight: var(--font-medium);
  }

  &.button_continue_checkout {
    display: flex;
    width: 100%;
    border: rem(1) solid var(--neutral-low-color);
    border-radius: var(--border-radius-sm);
    align-items: center;
    justify-content: center;
    &:hover {
      font-weight: var(--font-bold);
      border-width: rem(2);
    }
  }

  &.btn-social-medias {
    padding: rem(10) rem(20);
    width: rem(200);
    border-radius: 0;
    height: rem(40);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: rem(5);
    text-transform: capitalize;
    font-weight: var(--font-regular);
    font-size: var(--font-size-xxxs);
    color: var(--white-color);
    transition: .3s;

    &:hover {
      opacity: var(--opacity-semiopaque);
    }

    &.facebook-button {
      background-color: #1877F2;
    }

    &.apple-button {
      background-color: var(--black-color);
      justify-content: center;
    }

    &.google-button {
      background-color: #346EF1;
      padding-left: 0;
      justify-content: start;
    }

    &.local_account-button {
      background-color: var(--white-color);
      color: var(--black-color);
      border: solid rem(1) var(--black-color);
      justify-content: center;
    }
  }

  &:hover {
    opacity: var(--opacity-semiopaque);
  }
}