.header-dark {
  background-color: var(--secondary-color);

  .header_motor_search {
    display: flex;
    align-items: center;
    gap: rem(20);
    background-color: var(--neutral-high-light-color);
    border-radius: var(--border-radius-lg);
    padding: rem(7) rem(20);
 
    .input_field {
      display: flex;
      align-items: center;
      gap: rem(5);
      width: rem(200);
      
      input {
        background-color: transparent;
        font-weight: var(--font-bold);
        
        &.custom-width-input {
          width: 60%;
        }
      }
    }

    button {
      background-color: var(--primary-color);
      padding: rem(10);
      border-radius: var(--border-radius-sm);
    }
  }
}

.image-container {
  padding: rem(30) 0;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  flex-wrap: wrap;
  gap: rem(20);  

  img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-sm);
    &:nth-child(1) {
      grid-row: 1 / 3;
    }
  }
}

.collumn {
  display: grid;
  grid-template-columns: 6fr 3fr;
  gap: rem(35);
  padding: rem(30) 0;
}
.hotel_detail-container {
  border-radius: var(--border-radius-sm);
  display: flex;
  flex-direction: column;
  gap: rem(16);

  .description-container {
    background-color: var(--white-color);
    padding: rem(30);
    border-radius: var(--border-radius-sm);

    .rating-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .card-boardType {
        padding: rem(5) rem(10);
        border-radius: var(--border-radius-sm);
        background-color: var(--secondary-color);
  
        p {
          color: var(--white-color);
          font-weight: var(--font-bold);
          text-align: center;
        }
      }
  
      .evaluation_notes-container {
        display: flex;
        gap: rem(10);
        align-items: center;
  
        p {
          font-weight: var(--font-bold);
          color: var(--neutral-low-medium-color);
  
          &.label {
            padding: rem(5) rem(10);
            border-radius: var(--border-radius-sm);
            background-color: var(--feedback-good-color);
            color: var(--white-color);
            font-weight: var(--font-bold);
            text-align: center;
            font-size: var(--font-size-md);
          }
        }
      }
    }
  
    .detail_container {
      padding: rem(16) 0;
      display: flex;
      flex-direction: column;
      gap: rem(16);
  
      h1 {
        font-weight: var(--font-extrabold);
        font-size: var(--font-size-xxl);
        color: var(--neutral-low-color);
      }
  
      .detail_description {
        font-size: var(--font-size-sm);
        line-height: rem(27);
        color: var(--neutral-low-light-color);
      }
    }
  }

  .type_room-content {
    padding: rem(16) 0;
    display: flex;
    flex-direction: column;
    gap: rem(10);

    .type-room-item {
      display: flex;
      gap: rem(16);
      
      .type_room-image {
        height: rem(270);
        width: rem(450);

        img {
          width: 100%;
          height: 100%;
          border-radius: var(--border-radius-sm);
        }
      }

      .type_room-details {
        
        .card-boardType {
          padding: rem(5) rem(10);
          border-radius: var(--border-radius-sm);
          background-color: var(--secondary-color);
          width: fit-content;

          p {
            color: var(--white-color);
            font-weight: var(--font-bold);
            text-align: center;
            text-transform: uppercase;
            font-size: var(--font-size-xxxs);
          }
        }

        .item_content-container {
          display: flex;
          justify-content: space-between;
          position: relative;

          .description_container {
            padding: rem(20) 0;
            display: flex;
            flex-direction: column;
            gap: rem(20);
            width: 60%;

            h3 {
              font-size: var(--font-size-md);
              font-weight: var(--font-bold);
              color: var(--neutral-low-color);
            }
            .detail_description {
              font-size: var(--font-size-xxs);
              line-height: rem(16);
              color: var(--neutral-low-light-color);
            }
          }

          .type_room_price-container {
            display: flex;
            flex-direction: column;
            gap: rem(5);

            p {
              
              &.label {
                color: var(--neutral-high-dark-color);
                font-size: var(--font-size-xxs);
                text-align: end;
                span {
                  font-weight: var(--font-bold);
                }
              }

              &.type_room-price {   
                color: var(--neutral-low-dark-color);
                font-size: var(--font-size-xxs);
                text-align: end;
                font-weight: var(--font-bold);

                span {
                  font-size: var(--font-size-md);
                }
              }
            }
          }

          .room_type_facilities-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: rem(15);

            .facilitie-item {
              display: flex;
              align-items: center;
              gap: rem(5);

              img {
                width: rem(14);
                height: rem(14);
              }

              p {
                font-size: var(--font-size-xxs);
              }
            }
          }

          .select_button-container {
            position: absolute;
            bottom: 30%;
            right: 0;

            button {
              padding: rem(15) rem(15);
              background-color: transparent;
              border: solid rem(2) var(--neutral-low-color);
              color: var(--neutral-low-color);
              border-radius: var(--border-radius-sm);
              font-size: var(--font-size-xxs);
              text-transform: uppercase;
              font-weight: var(--font-bold);
              cursor: pointer;
              transition: .3s;

              &:hover {
                background-color: var(--primary-color);
                color: var(--white-color);
                border: none;
              }
            }

          }
        }
      }
    }
  }

  .accordion_list {
    background-color: var(--white-color);
    padding: 0 rem(30);
    border-radius: var(--border-radius-sm);

    .accordion_list-header {
      height: rem(72);
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        &.accordion_list-title {
          font-size: var(--font-size-xs);
          letter-spacing: rem(1);
          color: var(--neutral-low-light-color);
          text-transform: uppercase;
          font-weight: var(--font-bold);
        }
      }

      button {
        background-color: transparent;
        cursor: pointer;

        img {
          width: rem(35);
          height: rem(35);
        }
      }
    }
  }

  .hotel_details-container {
    background-color: var(--white-color);
    border-radius: var(--border-radius-sm);
    padding: rem(30);
    display: flex;
    flex-direction: column;
    gap: rem(30);

    h3 {
      font-weight: var(--font-bold);
      font-size: var(--font-size-sm);
      color: var(--neutral-low-color);
    }

    p {
      font-size: var(--font-size-sm);
      color: var(--neutral-low-light-color);
      line-height: rem(27);
    }

  }
}

.sidebar-container {
  background-color: var(--white-color);
  border-radius: var(--border-radius-sm);
  padding: rem(30);
  display: flex;
  flex-direction: column;
  gap: rem(10);
  height: fit-content;

  h3 {
    color: var(--neutral-low-color);
    font-weight: var(--font-bold);
    font-size: var(--font-size-md);
    line-height: rem(36);
  }

  .sidebar_items_list {
    padding-top: rem(30);
    display: flex;
    flex-direction: column;
    gap: rem(10);

    .sidebar_item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: rem(60);
  
      .sidebar_item_label {
        display: flex;
        align-items: center;
        gap: rem(5);
  
        p {
          font-size: var(--font-size-xs);
          text-transform: uppercase;
          font-weight: var(--font-bold);
          letter-spacing: rem(1);
          color: var(--neutral-high-dark-color);
        }
        
        img {
          height: rem(20);
          width: rem(20);
        }
      }

      .sidebar_price_container {
        display: flex;
        flex-direction: column;
        gap: rem(5);
        color: var(--neutral-high-dark-color);

        p {
          &.text_price {
            color: var(--neutral-low-dark-color);
            font-weight: var(--font-bold);
          }
        }
      }

      span {
        color: var(--neutral-high-dark-color);
        font-size: var(--font-size-xxs);

        &.span_price {
          color: var(--neutral-low-dark-color);
          font-size: var(--font-size-md);
          font-weight: var(--font-bold);
        }
      }
  
      button, a {
        padding: rem(15) rem(10);
        background-color: transparent;
        border: solid rem(2) var(--neutral-low-color);
        text-transform: uppercase;
        font-weight: var(--font-bold);
        font-size: var(--font-size-xxs);
        color: var(--neutral-low-color);
        border-radius: var(--border-radius-sm);
        text-align: center;
        display: flex;
        align-items: center;
        gap: rem(5);
        transition: .3s;
        cursor: pointer;

        &.sidebar_btn_order {
          background-color: var(--terciary-color);
          color: var(--white-color);
          border: none;

          &:hover {
            opacity: var(--opacity-semiopaque);
          }
        }
  
        &.disabled {
          background-color: var(--neutral-high-light-color);
          border: none;
          color: var(--neutral-high-dark-color);
          cursor: default;
        }
  
        &:hover:not(.disabled, .sidebar_btn_order) {
          background-color: var(--primary-color);
          border: none;
          color: var(--white-color);
        }
      }
    }
  }
}