body {
  background-color: var(--neutral-high-light-color);
}

.header-dark {
  background-color: var(--secondary-color);

  .header_motor_search {
    display: flex;
    align-items: center;
    gap: rem(20);
    background-color: var(--neutral-high-light-color);
    border-radius: var(--border-radius-lg);
    padding: rem(7) rem(20);

    .input_field {
      display: flex;
      align-items: center;
      gap: rem(5);
      width: rem(200);
      
      input {
        background-color: transparent;
        font-weight: var(--font-bold);
        
        &.custom-width-input {
          width: 60%;
        }
      }
    }
  }
}

.container {
  width: 90%;
  margin: 0 auto;

  .title_container {
    padding: rem(30) 0;

    h1 {
      font-weight: var(--font-extrabold);
    }
  }
}

.order_filters-container {
  display: flex;
  align-items: center;
  gap: rem(24);
  
  p {
    font-weight: var(--font-bold);
    color: var(--neutral-low-light-color);
  }

  .order_filter_item-container {
    display: flex;
    gap: rem(5);

    .order_filter_item {
      border: solid var(--border-width-hairline) var(--neutral-high-medium-color);
      border-radius: var(--border-radius-sm);
      padding: rem(4);
      cursor: pointer;
      transition: .4s;
      
      p {
        color: var(--neutral-high-medium-color);
        font-weight: var(--font-bold);
        font-size: var(--font-size-xxxs);
        text-transform: uppercase;
        transition: .4s;
      }

      &:hover {
        border-color: var(--black-color);
        color: var(--black-color);

        p {
          color: var(--black-color);
        }
      }
    }
  }
}

.container_content {
  display: flex;
  // gap: rem(60);
  justify-content: space-between;

  .hotel_list-container {
    margin-top: rem(50);
    display: flex;
    flex-direction: column;
    gap: rem(20);
    width: 75%;
    border-radius: var(--border-radius-sm);
    transition: .4s;

    .hotel_list-item {
      display: grid;
      grid-template-columns: 1fr 4fr;
  
      .image_hotel {
        width: rem(400);
        height: 100%;
        border-radius: 0;
        background-color: var(--white-color);
         
        img {
          width: 100%;
          height: 100%;
          border-radius: var(--border-radius-sm);
        }
      }

      .card_body-container {
        padding: rem(20) rem(30);
        background-color: var(--white-color);
        border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;

        .card_title-container {
          display: flex;
          justify-content: space-between;

          .label-container {
            background-color: var(--secondary-color);
            padding: rem(5) rem(10);
            border-radius: var(--border-radius-sm);
            p {
              &.label {
                color: var(--white-color);
                font-weight: var(--font-bold);
              }
            }
          }

          .assessment-container {
            background-color: var(--feedback-good-color);
            padding: rem(5) rem(10);
            border-radius: var(--border-radius-sm);
            p {
              color: var(--white-color);
              font-weight: var(--font-regular);
              
              span {
                font-size: var(--font-size-sm);
                font-weight: var(--font-bold);
              }
            }
          }

        }

        .card-content {
          padding: rem(12) 0;

          h3 {
            font-size: var(--font-size-md);
          }
          
          p {
            padding-top: rem(5);
            font-size: var(--font-size-xxxs);
            color: var(--neutral-low-light-color);
          }

          .boardTypes-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: rem(15);
            padding-top: rem(30);

            .boardType-content {
              display: flex;
              gap: rem(5);
              align-items: center;
              img {
                height: rem(12);
                width: rem(12);
              }

              p {
                font-size: var(--font-size-xxs);
                color: var(--feedback-good-color);
              }
            }
          }

          .price_details-container {
            padding-top: rem(15);
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
              color: var(--neutral-high-dark-color);
              font-size: var(--font-size-x-xs);

              span {
                &.dark_text {
                  font-weight: var(--font-bold);
                }
              }
            }

            .discount-container {
              padding: rem(5) rem(10);
              text-align: center;
              background-color: var(--primary-color);
              border-radius: var(--border-radius-sm);

              p {
                font-weight: var(--font-bold);
                color: var(--white-color);
                font-size: var(--font-size-xxxs);
              }

            }

            .price-container {
              text-align: end;
              p {
                font-weight: var(--font-bold);

                &.price_depor {
                  font-size: var(--font-size-xxs);
                }

                &.price {
                  font-size: var(--font-size-md);
                  color: var(--black-color);

                  span {
                    &.small_text {
                      font-size: var(--font-size-xxs);
                    }
                  }
                }
              }
            }
          }
        }
      }

      // &:hover {
      //   opacity: var(--opacity-semiopaque);
      // }
    }
  }
  
  .filters-container {
    width: 20%;
    padding: rem(50) 0;

    .filter_title-container {
      padding: 0 0 rem(30) 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-size: var(--font-size-md);
        font-weight: var(--font-bold);
      }
    }

    .filters-content {
      h4 {
        color: var(--neutral-low-medium-color);
        font-weight: var(--font-bold);
        letter-spacing: rem(1);
        text-transform: uppercase;
      }

      .graphic {
        height: rem(150);
        display: flex;
        justify-content: center;
      }

      .price_minmax-container {
        padding: rem(10) 0;
        display: flex;
        justify-content: center;
        gap: rem(15);

        .minmax_card {
          background-color: var(--white-color);
          padding: rem(20) rem(20);
          border-radius: var(--border-radius-sm);
          border: rem(2) solid var(--neutral-high-medium-color);
          display: flex;
          flex-direction: column;
          gap: rem(5);
          cursor: pointer;
          transition: .4s;

          h4 {
            font-size: var(--font-size-xxxs);
            transition: .4s;
          }

          p {
            color: var(--neutral-high-dark-color);
            transition: .4s;
          }

          &:hover {
            border-color: var(--secondary-color);

            h4, p {
              color: var(--secondary-color);
            }
          }
        }
      }

      .btns-container {
        display: flex;
        gap: 5px;
      }

      .filter_rooms-container, .filter_rating-container, .filter_flight_company-container {
        padding-top: rem(50);
        display: flex;
        flex-direction: column;
        gap: rem(15);
      }

      .filter_flight_company-container {
        .filter_flight_company-content {
          display: flex;
          flex-direction: column;
          gap: rem(25);

          .filter_flight_company-item {
            display: flex;
            align-items: center;
            gap: rem(10);
            cursor: pointer;
  
            p {
              color: var(--neutral-high-dark-color);
              font-size: var(--font-size-xxs);
            }

            .check {
              padding: rem(0);
              border: 0;
              border-radius: var(--border-radius-sm);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}