.payment_item-content {
  padding: 0 0 0 rem(10);
  display: flex;
  flex-direction: column;
  gap: rem(10);

  .payment_item-field {
    border: solid rem(1) var(--neutral-high-color);
    border-radius: var(--border-radius-sm);
    padding: rem(12) rem(20);
    display: flex;
    align-items: center;
    gap: rem(15);

    img {
      height: rem(20);
      width: rem(20);
    }

    .input_field {
      display: flex;
      flex-direction: column;

      label {
        font-size: var(--font-size-xxs);
        color: var(--neutral-low-light-color);
        text-transform: uppercase;
        letter-spacing: rem(1);
        font-weight: var(--font-bold);
      }

      input {
        font-size: var(--font-size-xxs);
      }
    }
  }
}

.payment_item-footer {
  display: flex;
  justify-content: space-between;
  padding: rem(12) rem(15);
  align-items: center;
  border-bottom: rem(1) solid var(--neutral-high-dark-color);
  margin-bottom: rem(12);
}

.login_buttons-container {
  display: flex;
  width: rem(450);
  margin: 0 auto;
  flex-wrap: wrap;
  gap: rem(10);
  justify-content: center;
  align-items: center;
}


.booking_item {
  display: flex;
  flex-direction: column;
  gap: rem(10);

  .booking_item-header {
    display: flex;
    align-items: center;
    gap: rem(5);

    p {
      text-transform: uppercase;
      letter-spacing: rem(1);
      font-size: var(--font-size-xs);
      font-weight: var(--font-bold);
      color: var(--neutral-low-light-color);
    }
  }

  .booking_item-content {
    background-color: var(--neutral-high-light-color);
    border-radius: var(--border-radius-sm);
    padding: rem(20);
    display: grid;
    gap: rem(5);
    
    h4 {
      color: var(--neutral-low-dark-color);
      font-size: var(--font-size-xxs);
      font-weight: var(--font-bold);
    }

    .item_detail {
      display: flex;
      align-items: center;
      gap: rem(5);

      img {
        width: rem(14);
        height: rem(14);
      }

      p {
        font-size: var(--font-size-xxxs);
        color: var(--neutral-low-light-color);
      }
    }
  }

  .booking_item-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(5);
    .detail_price-container {
      p {
        color: var(--neutral-high-dark-color);
        font-size: var(--font-size-xxs);

        span {
          font-weight: var(--font-bold);
        }

        &.price_text {
          color: var(--neutral-low-dark-color);
          
          span {
            font-size: var(--font-size-sm);
          }
        }
      }


    }
  }
}
// .btn_action {
//   background-color: var(--primary-color);
//   padding: rem(15);
//   color: var(--white-color);
//   text-transform: uppercase;
//   letter-spacing: rem(1);
//   display: flex;
//   align-items: center;
//   border-radius: var(--border-radius-sm);
//   width: fit-content;
//   font-size: var(--font-size-xxxs);
//   transition: .3s;
//   font-weight: var(--font-bold);

//   &:hover:not(.disabled) {
//     opacity: var(--opacity-semiopaque);
//   }

//   &.disabled {
//     color: var(--neutral-high-medium-color);
//     background-color: var(--neutral-high-light-color);
//     cursor: default;
//   }
// }
