.setting_title {
  margin-top: rem(30);

  h1 {
    color: var(--neutral-low-dark-color);
  }
}

.settings_list-container {
  display: flex;
  flex-direction: column;
  gap: rem(20);
  padding: rem(50) 0;

  .setting_tab {
    background-color: var(--white-color);
    border-radius: var(--border-radius-sm);
    padding: rem(24);
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      text-transform: uppercase;
      letter-spacing: rem(1);
      font-weight: var(--font-bold);
      color: var(--neutral-low-light-color);
    }

    img {
      width: rem(15);
      height: rem(15);
    }
  }
}

.pendencies_bar {
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(30) rem(100);
  height: rem(100);
  position: fixed;
  z-index: 1000;
  width: 100%;
  bottom: 0;
  border-top: rem(1) solid var(--neutral-high-medium-color);

  .pendencies_container {
    span {
      color: var(--neutral-high-dark-color);
      font-size: var(--font-size-xxs);
    }

    p {
      color: var(--neutral-low-dark-color);
      font-size: var(--font-size-sm);
      font-weight: var(--font-bold);
    }
  }
}