h1 {
  font-weight: var(--font-extrabold);
  font-size: var(--font-size-xxl);
  color: var(--neutral-low-color);
}

.user_items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(10);
  padding-top: rem(20);

  .user_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(10);
    background-color: var(--white-color);
    height: rem(150);
    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-sm);
    cursor: pointer;
    transition: .3s;

    &:hover {
      font-weight: var(--font-bold);
    }
  }
}

.sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(20) 0;
  
  .user {
    p {
      color: var(--neutral-low-medium-color);
    }
  }

  .logout_container {
    display: flex;
    gap: rem(5);
    align-items: center;


    p {
      color: var(--neutral-low-color);
    }
  }
}