.qrcode_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: rem(150);
  gap: rem(70);
  
  .qrcode {
    height: rem(135);
    width: rem(135);
  }

  .qrcode_details {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      text-align: center;
    }

    .qrcode_detail-item {
      display: flex;
      align-items: center;
      gap: rem(5);

      p {
        font-size: var(--font-size-xs);
        color: var(--neutral-low-medium-color);
      }
    }
  }
}